//Colors
$background-dark-grey: #151515;
$background-light-grey: #1d1c1c;
$background-lighter-grey: #212020;
$black: #000;
$blue: #0096D1;
$dark-grey: #333;
$facebook-blue: #3b5998;
$green: #319373;
$grey: #666;
$lightest-grey: #ccc;
$light-grey: #999;
$red: #F55065;
$twitter-blue: #55ACEE;
$white: #fff;
$yellow: #FFD34f;
